COMPOSE_PROJECT_NAME=ums-app

ENV=docker


TEST_DB_NAME=ums_test

DB_USER=ums_user
DB_NAME=ums
DB_PASSWORD=ums_password
DB_HOST=shared-mysql
DB_PORT=3306



REDIS_HOST=shared-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD = changeme

SECRET_KEY=mysecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600
