:root{
    --nav-font: 'Lato', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

.warp {
    max-width: 1400px;
    margin: auto;
}

nav {

    position: sticky;
    top: 0;
    z-index: 1;

    background-color: #353535;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(129, 129, 129);
}

nav .warp {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 0;
}
.header-name {

    font-family: var(--nav-font), serif;
    font-weight: 700;
    font-size: 25px;

    color: white;
}


.link {

    font-family: var(--nav-font), serif;
    font-weight: 200;

    display: flex;
    align-items: center;
    gap: 32px;
}

.link ul {

    display: flex;
    gap: 20px;
    list-style: none;

}

.link ul a {

    color: white;
    text-decoration: none;
}

.link a:hover {

    color: red;
    transition: 200ms;
}

.prefrence {

    font-family: var(--nav-font), serif;
    font-size: 20px;
    font-weight: 600;

    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}

.hero-links {

    display: flex;
    gap: 20px;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 200px;
}

.hero-links a {

    color: red;

    font-family: var(--nav-font), serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.hero-links a:hover {

    color: rgb(211, 0, 0);
    transition: 200ms;
}

.student-box {

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 200px;

    border-radius: 10px;
    background-color: #353535;
}

.student-title {

    display: flex;
    justify-content: center;

    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 800;
    
    text-decoration: none;
    
    color: #ffffff;
}

.student-details input{
    
    background: transparent;
    
    border: 2px solid #000000;
    border-radius: 7px;
    
    margin: 0 20px;
    padding: 10px 50px;
    text-align: center;
    
    font-weight: 400;
    font-size: 20px;
    font-family: var(--nav-font), serif;
    
    color: #ffffff;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.student-details input:hover {
    
    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);
    
    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;
    
    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}
 
.student-btn {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 40px;
    gap: 50px;
    
}

.student-btn button {

    padding: 10px 8px;
    text-align: center;

    border: 2px solid #000000;
    border-radius: 4px;

    background-color: transparent;

    font-weight: 400;
    font-size: 19px;
    font-family: var(--nav-font), serif;
    
    color: #7c7c7c;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.student-btn button:hover {
    
    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}

#student-gender{
    
    padding: 10px 20px;
    text-align: center;
    
    border: 2px solid #000000;
    border-radius: 4px;
    
    background-color: transparent;

    font-weight: 400;
    font-size: 20px;
    font-family: var(--nav-font), serif;
    
    color: #7c7c7c;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

#student-gender:hover{

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}


/*-----------------------------------------------------------------------------------*/


.faculty-title {

    display: flex;
    justify-content: center;

    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 800;

    text-decoration: none;
    
    margin-top: 100px;
    color: #ffffff;
}

.faculty-box {

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 200px;

    border-radius: 10px;
    background-color: #353535;
}

.faculty-details input{

    background: transparent;

    border: 2px solid #000000;
    border-radius: 7px;

    margin: 0 20px;
    padding: 10px 50px;
    text-align: center;

    font-weight: 400;
    font-size: 20px;
    font-family: var(--nav-font), serif;

    color: #ffffff;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.faculty-details input:hover {

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}

.faculty-btn {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    gap: 50px;

}

.faculty-btn button {

    padding: 10px 8px;
    text-align: center;

    border: 2px solid #000000;
    border-radius: 4px;

    background-color: transparent;

    font-weight: 400;
    font-size: 19px;
    font-family: var(--nav-font), serif;

    color: #7c7c7c;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.faculty-btn button:hover {

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}

#faculty-gender{

    padding: 10px 20px;
    text-align: center;

    border: 2px solid #000000;
    border-radius: 4px;

    background-color: transparent;

    font-weight: 400;
    font-size: 20px;
    font-family: var(--nav-font), serif;

    color: #7c7c7c;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

#faculty-gender:hover{

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}


/*-------------------------------------------------------------------------------------*/


.course-title {

    display: flex;
    justify-content: center;

    font-family: poppins, sans-serif;
    font-size: 30px;
    font-weight: 800;

    text-decoration: none;

    margin-top: 100px;
    color: #ffffff;
}

.course-box {

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 200px;

    border-radius: 10px;
    background-color: #353535;
}

.course-details input{

    background: transparent;

    border: 2px solid #000000;
    border-radius: 7px;

    margin: 0 20px;
    padding: 10px 50px;
    text-align: center;

    font-weight: 400;
    font-size: 20px;
    font-family: var(--nav-font), serif;

    color: #ffffff;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.course-details input:hover {

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}

.course-btn {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
    gap: 50px;

}

.course-btn button {

    padding: 10px 8px;
    text-align: center;

    border: 2px solid #000000;
    border-radius: 4px;

    background-color: transparent;

    font-weight: 400;
    font-size: 19px;
    font-family: var(--nav-font), serif;

    color: #7c7c7c;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.course-btn button:hover {

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}

#course-gender{

    padding: 10px 20px;
    text-align: center;

    border: 2px solid #000000;
    border-radius: 4px;

    background-color: transparent;

    font-weight: 400;
    font-size: 20px;
    font-family: var(--nav-font), serif;

    color: #7c7c7c;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

#course-gender:hover{

    border: none;
    box-shadow: 0 0 30px rgb(128 52 216);

    background-color: #d5d5d5;
    color: #000000;

    font-family: var(--nav-font), serif;
    font-weight: 600;

    transform: translateY(-3px) scale(1.1);
    transition: 300ms;
}