COMPOSE_PROJECT_NAME=ums-app

DB_NAME=ums
TEST_DB_NAME=ums_test
DB_USER= ums_user
DB_PASSWORD=ums_password
MYSQL_ROOT_PASSWORD=ums_password

SECRET_KEY=yourkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60